server/configs/node-red/.flows.json.backup
[
    {
        "id": "562eeb10150a8223",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c7f8fe9cbe87466e",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c33563d9c58425d1",
        "type": "mqtt-broker",
        "name": "Mosquitto Docker",
        "broker": "host.docker.internal",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "eceec9d377d18f38",
        "type": "influxdb",
        "hostname": "host.docker.internal",
        "port": 8086,
        "protocol": "http",
        "database": "home/temperature-humidity",
        "name": "InfluxDB Docker",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "1cc625ee2e75c852",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "Mosquitto Docker",
        "topic": "home/temperature-humidity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c33563d9c58425d1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 340,
        "y": 320,
        "wires": [
            [
                "58ce398ba47d1ed9"
            ]
        ]
    },
    {
        "id": "58ce398ba47d1ed9",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Tratar o JSON",
        "func": "// Pegando os valores do payload\nlet temperatureCelsius = msg.payload.t; \n\n// Convertendo para Kelvin\nlet temperatureKelvin = temperatureCelsius + 273.15;\n\n// Convertendo para Fahrenheit\nlet temperatureFahrenheit = (temperatureCelsius * 9/5) + 32;\n\n// Criando um novo payload com as três temperaturas\nmsg.payload = {\n    temperatureCelsius: temperatureCelsius,\n    temperatureKelvin: temperatureKelvin,\n    temperatureFahrenheit: temperatureFahrenheit,\n    humidity: msg.payload.h\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 320,
        "wires": [
            [
                "e2b67cf7c7322aeb",
                "4ec43ec30d6555ef"
            ]
        ]
    },
    {
        "id": "e2b67cf7c7322aeb",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "Debug",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 200,
        "wires": []
    },
    {
        "id": "4ec43ec30d6555ef",
        "type": "influxdb out",
        "z": "f6f2187d.f17ca8",
        "influxdb": "eceec9d377d18f38",
        "name": "InfluxDB Bucket",
        "measurement": "sensor_data",
        "precision": "ms",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "ufs",
        "bucket": "home/temperature-humidity",
        "x": 920,
        "y": 440,
        "wires": []
    },
    {
        "id": "ac9166dde906d0e1",
        "type": "mqtt in",
        "z": "c7f8fe9cbe87466e",
        "name": "Mosquitto Docker",
        "topic": "home/temperature-humidity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c33563d9c58425d1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 340,
        "y": 320,
        "wires": [
            [
                "8e344efa5876d71c"
            ]
        ]
    },
    {
        "id": "8e344efa5876d71c",
        "type": "function",
        "z": "c7f8fe9cbe87466e",
        "name": "Tratar o JSON",
        "func": "// Pegando os valores do payload\nlet temperatureCelsius = msg.payload.t; \n\n// Convertendo para Kelvin\nlet temperatureKelvin = temperatureCelsius + 273.15;\n\n// Convertendo para Fahrenheit\nlet temperatureFahrenheit = (temperatureCelsius * 9/5) + 32;\n\n// Criando um novo payload com as três temperaturas\nmsg.payload = {\n    temperatureCelsius: temperatureCelsius.toFixed(2),\n    temperatureKelvin: temperatureKelvin.toFixed(2),\n    temperatureFahrenheit: temperatureFahrenheit.toFixed(2),\n    humidity: msg.payload.h,\n    timestamp: new Date().toLocaleTimeString()\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 320,
        "wires": [
            [
                "02d9828f4d80ac37",
                "50c8af3bd57dacd3",
                "c17d33b2096a14ec"
            ]
        ]
    },
    {
        "id": "02d9828f4d80ac37",
        "type": "debug",
        "z": "c7f8fe9cbe87466e",
        "name": "Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 220,
        "wires": []
    },
    {
        "id": "50c8af3bd57dacd3",
        "type": "influxdb out",
        "z": "c7f8fe9cbe87466e",
        "influxdb": "eceec9d377d18f38",
        "name": "InfluxDB Bucket",
        "measurement": "sensor_data",
        "precision": "ms",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "ufs",
        "bucket": "home/temperature-humidity",
        "x": 920,
        "y": 320,
        "wires": []
    },
    {
        "id": "c17d33b2096a14ec",
        "type": "mqtt out",
        "z": "c7f8fe9cbe87466e",
        "name": "Mosquitto Docker",
        "topic": "home/temperature-humidity-processed",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c33563d9c58425d1",
        "x": 930,
        "y": 420,
        "wires": []
    }
]